body {
  background-color: #4c514a;
  width: auto;
  margin: 0 auto;
}

.picter img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid goldenrod;
  margin-top: 20px;
}

.main {
  align-items: center;
  flex-wrap: wrap;
  min-width: 320px;
  min-height: auto;
  text-align: center;
  border: 3px solid goldenrod;
}

h2 {
  font-weight: bold;
  color: white;
  text-shadow: 0px 5px 20px;
}
b {
  color: goldenrod;
}

span {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid goldenrod;
    border-width: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 320px;
}

a {
    color: white;
    text-decoration: none;
    
}
.links:hover{background-color: beige;
  color: goldenrod;
  font-family: fantasy;
}
